html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(253, 255, 240);
    color: rgb(81, 62, 62);
}

img{
    border-radius: 20px;
  }

.top {
    width: 100%;
    height: 100%;
    background-image: url(image/main.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.header{
    width: 70%;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
    align-items: center;
  }
  nav ul li{
    padding: 0 30px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  a {
    color: white;
    font-size: 1.8em;
    font-family: 'Concert One', sans-serif;
    text-decoration: none;
    
  }

  a:hover {
    color: rgb(255, 204, 0)
  }

  .logo {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }

.catch {
    text-align: end;
    margin-top: 200px;
}



#wrap {
    clear: both;
}

.content {
    width: 900px;
    margin: 0 auto;
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8em;
}



h1 {
    font-size: 2em;
    font-family: 'Concert One', sans-serif;
    margin: 40px 0;
  }

h2 {
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 30px;
}

article {
    width: 90%;
    margin: 120px auto;
}

#interior .text{
    width: 500px;
    float: left;
}

#access .text{
    width: 500px;
    float: left;
}

.text span {
    font-weight: bold;
}

hr {
    border : dashed 3px rgb(81, 62, 62);

}

footer {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(81, 62, 62);
    font-size: 0.9em;
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 400;
    color: white;
}



/*スライダー設定開始*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:60%;
    height: 70%;
    margin: 30px auto 0 auto;
}

.slider img {
    width:20vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 40%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -10%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -10%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/*スライダー設定おわり*/










